.select-container {
    display: flex;
    gap: 40px;
    border: grey solid 2px;
    border-radius: 8px;
    padding: 10px;
}

.select-group {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 5px;
}

select,
option {
    font-size: 1rem;
}

select {
    width: 120px;
}