.app-header {
    background-color: #ffffff;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);

}

.app-header_hero {
    display: flex;
    align-items: center;
}

.app-header img {
    width: 38px;
    height: auto;
    margin-right: 8px;
}

.app-header_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-header_name {
    font-weight: 700;
    font-size: 1.7rem;
    display: flex;
    align-items: start;
    gap: 3px;
}

.app-header_name_crop {
    color: #9eb356
}

.app-header_name_voice {
    color: #5e6738
}

.app-header_logo_emoji {
    font-size: 2.2rem;
    margin-right: 0px;
}


.app-header_tagline {
    color: #5e6738;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 600;
}

.app-header a {
    text-decoration: none;
}

.app-header_name_TM {
    font-size: 0.6rem;
    color: #5e6738;
    margin-top: 8px;
}

.app-header_navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    max-width: 500px;
}


.app-header_navBar button {
    border-radius: 0;
    font-weight: 600;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;

    color: #9eb356;
    background-color: white;
    border: #9eb356 solid 2px;
    font-size: 0.8rem;

    transition: all 200ms ease-in-out;
}

.app-header_navBar button:hover {
    color: white;
    background-color: #9eb356;
    border: #9eb356 solid 2px;
}

.app-header_navBar button:first-child {
    color: white;
    background-color: #9eb356;
    border: #9eb356 solid 2px;
    border-radius: 0;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    font-size: 0.8rem;

    transition: all 200ms ease-in-out;
}

.app-header_navBar button:first-child:hover {
    color: #9eb356;
    background-color: white;
    border: #9eb356 solid 2px;
}