:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;

}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(158, 179, 86, 0.4);
  /* background-image: url('./assets/pattern.webp'); */
  background-size: 40%;
  background-blend-mode: soft-light;

}

h1,
h2,
h3,
h4 {
  margin: 0;
}